# build output
dist
.next

# dependencies
node_modules
package-lock.json
test/node_modules
__test__/node_modules

# logs & pids
*.log
pids

# coverage
.nyc_output
coverage

# test output
test/**/out
__test__/**/out
.DS_Store
